body {
  font-size: 17px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 
}

h1, h2, h3 {
  color: #fff;
}

nav {
  display: flex;
  text-align: center;
}
nav a {
  text-decoration: none;
  flex: 1 1 auto;
  padding: 10px;
  color: #fff;
}
nav a:hover {
  color: #062f4f;
  background-color: #813772;
  border-radius: 50%;
}

header {
  grid-template-columns: 200px 1fr;
  background-color: #b82b01;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  padding: 0.5rem;
  display: grid;
  text-align: center;
  align-items: center;
  border-radius: 30px;
}

.herodiv {
  margin: 10px auto;
  position: relative;
}

.stats {
  position: absolute;
  top: 70px;
  left: 0;
  background: radial-gradient(#e432ef, #4567aa);
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: .9;
  border-radius: 40%;
}

.school {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.para {
  padding: 10px;
  margin-left: 15px;
  line-height: 25px;
  box-shadow: 10px 10px 5px grey;
}


main {
  padding: 14px;
  background-color: #813772;
  margin: 1rem auto;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

.ima_ge {
  width: 180px;
  border-radius: 8px;
}
.left {
  float: left;
  margin-right: 20px;
}


.third {
  text-align: center;
}
.social_media {
  float: right;
}


#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-items {
  width: 300px;
}
#contact .contact-item {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

footer {
  background-color: #b82b01;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.5rem;
  min-height: 60px;
}


form {
				margin: 0 auto;
				width: 400px;
				padding: 1em;
				border-radius: 1em;
			}
.container {
  padding: 20px;
}
 .padd{
     padding: 10px;
 }
.call{
    background-color: #000;
    padding: 15px;
    border-radius: 30%;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			form li + li {
				margin-top: 1em;
			}

			label {
				display: inline-block;
				width: 90px;
				text-align: right;
			}

			input,
			textarea {
				font: 1em sans-serif;
				width: 300px;
				box-sizing: border-box; 
				border: 1px solid #999;
			}

			input:focus,
			textarea:focus {
				border-color: #000;
			}

			textarea {
				vertical-align: top;
				height: 5em;
			}

			.button {
				padding-left: 90px;
        
			}

			button {
				margin-left: 0.5em;
			}

      .active{
        background-color: blue;

      }

